body {
  background: red !important;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  background: url("https://images.unsplash.com/photo-1504384308090-c894fdcc538d") no-repeat center/cover;
}

/* DARK OVERLAY */
.hero {
  height: 100vh;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo i {
  color: #22c55e;
  font-size: 22px;
}

.nav-links button {
  background: transparent;
  border: none;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}

/* HERO CONTENT */
.hero-content {
  position: relative;
  z-index: 2;
}
.nav {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #22c55e;
}

.tagline {
  font-size: 36px;
}

.tagline span {
  color: #3b82f6;
}

.hero-content p {
  margin-top: 15px;
  color: #d1d5db;
}

/* BUTTONS */
.actions button {
  padding: 14px 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  color: white;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 8px 25px rgba(59,130,246,0.5);
  transition: 0.3s;
}

.actions button:hover {
  transform: scale(1.05);
}
/* VOICE BUTTON */
.voice {
  margin-top: 30px;
}

.voice button {
  font-size: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}

.voice button:hover {
  background: #16a34a;
}
